body {
    margin: 0;
	background: url("../IMG/background.jpeg");	/* Waagplein + wit */
	Background-image: #ccccc;					/* achtergrond kleurtje & */
	background-repeat: no-repeat;				/* geen herhaling van image */
    background-position: center;				/* positionering center */
	background-attachment: fixed;				/* niet mee scrollend */
	Background-size: 100% 100%;					/* volledig vullend */
	Font-family: calibri; 						/* fontfamily calibri */
	font-size: 100%;
}

nav {											/* css-styling van element nav (navigatie */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}


fieldset {
	max-width: 300px;
	text-align: left;
}

width: 400px;
	padding: 2px;						
	border: 2px black;						/* om aan te geven waar momenteel de borders zitten, moeten nog verwijderd worden. */