body {
    margin: 0;
	background: url("../IMG/background.jpeg");	/* Waagplein + wit */
	Background-color: #cccccc;					/* achtergrond kleurtje & */
	background-repeat: no-repeat;				/* geen herhaling van image */
    background-position: center;				/* positionering center */
	background-attachment: fixed;				/* niet mee scrollend */
	Background-size: cover;						/* volledig vullend */
	Font-family: calibri; 						/* fontfamily calibri */
	font-size: 100%;
}

nav {											/* css-styling van element nav (navigatie */
    list-style-type: none;
    margin: 0;									/* margin helemaal links bovenin */
    padding: 0;									/* geen padding */
    overflow: hidden;							/* zorgen dat scrollbar niet verschijnt */
    background-color: #ffaf1c;					/* oranje */
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #002642;
}

.active {
    background-color: #002642;
}



/* hieronder volgt de opmaak voor het contactformulier */


fieldset{
	width: 50%;
	margin-left: 2%;
	
}

label{
	margin-top: 1%;
	
	
}

select{
	margin-top: 1%;
}

input{
	margin-top: 1%;
	margin-left: 5%;
	
}
	

	





